<div class="container">
    <div class="row" id="top">
        <div class="col-12 text-center">
            <h1>Eat Da Burger</h1>
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-3 text-center" id="enterSide">
            <p>
            {{#each burger_db}}
                {{#unless devoured}}
            </p>
                
        </div>
        <div class="col-3 text-center">
            <p>{{id}}, {{burger_name}}</p>
        </div>
        <div class="col-6 text-center" id="devourSide">
            <form method="POST" action="/" class="button-size">
            <input name="burger_id" type="text" value={{this.id}}>
            <br>
            <button type="submit" class="btn btn-default">DEVOUR</button>
            </form>
        </div>
        {{/unless}}
        {{/each}}
    </div>
    <div class="col-6">
        {{#each burger_data}}
            {{#if this.devoured}}
                <input class="form-control" type="text" placeholder="{{id}}.{{burger_name}}">
            {{/if}}
        {{/each}}
    </div>
</div>
